<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"

	xsi:schemaLocation="
            http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.2.xsd
            http://www.springframework.org/schema/mvc
            http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">

	<bean
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:swallow-web.properties</value>
            </list>
        </property>
    </bean>

	<bean class="com.dianping.swallow.common.server.lifecycle.LifecycleComponentManager"/>

    <bean id="messageDAO"
        class="com.dianping.swallow.common.internal.dao.impl.mongodb.MessageDAOImpl">
        <property name="mongoManager" >
			<ref local="mongoManager"/>
		</property>
	</bean>

    <bean id="mongoManager"
        class="com.dianping.swallow.common.internal.dao.impl.mongodb.DefaultMongoManager">
		<constructor-arg value="web" index="0" />
        <property name="swallowConfig" ref="swallowConfig"/>
    </bean>
    
	<bean id="swallowConfig" class="com.dianping.swallow.common.internal.config.impl.SwallowConfigImpl"/>

	<context:component-scan base-package="com.dianping.swallow.web" />
	<context:annotation-config />

	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/" />
			<mvc:mapping path="/console/topic" />
			<mvc:mapping path="/console/message" />
			<mvc:mapping path="/console/administrator" />
			<mvc:mapping path="/console/download" />
			<mvc:mapping path="/console/monitor/consumerserver/qps" />
			<mvc:mapping path="/console/monitor/producerserver/qps" />
			<mvc:mapping path="/console/monitor/consumer/*/qps" />
			<mvc:mapping path="/console/monitor/consumer/*/accu" />
			<mvc:mapping path="/console/monitor/producer/*/savedelay" />
			<mvc:mapping path="/console/monitor/consumer/*/delay" />
			<mvc:mapping path="/console/monitor/dashboard/delay" />
			<mvc:mapping path="/help" />
			<bean class="com.dianping.swallow.web.interceptor.ModelAndViewInterceptor">
			</bean>
		</mvc:interceptor>
	</mvc:interceptors>

	<import resource="applicationContext-utils.xml" />
	<import resource="applicationContext-mongo.xml" />
	<import resource="applicationContext-springtask.xml" />


</beans>
