<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="30" packages="com.dianping.swallow.common.internal.util.log">

    <Appenders>
        <CatAppender name="catAppender"/>

        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d[%-5p][%t][%c]%m%n"/>
        </Console>
        <RollingRandomAccessFile name="fileAppender" immediateFlush="false"
                     fileName="/data/applogs/swallow-web/logs/swallow-web.log"
                     filePattern="/data/applogs/swallow-web/logs/swallow-web.log.%d{yyyy-MM-dd}.gz">
            <PatternLayout pattern="%d[%-5p][%t][%c]%m%n"/>
            <TimeBasedTriggeringPolicy interval="1"
                                       modulate="true"/>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="logFilterFileAppender" immediateFlush="false"
                     fileName="/data/applogs/swallow-web/logs/logfilter/swallow-web.log"
                     filePattern="/data/applogs/swallow-web/logs/logfilter/swallow-web.log.%d{yyyy-MM-dd}.gz">
            <PatternLayout pattern="%d[%-5p][%t][%c]%m%n"/>
            <TimeBasedTriggeringPolicy interval="1"
                                       modulate="true"/>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <logger name="org.jasig.cas" additivity="true">
            <level value ="ERROR"/>
            <appender-ref ref="console" />
        </logger>

        <Logger name="org.springframework" level="warn" additivity="true">
            <AppenderRef ref="console" level="warn"/>
        </Logger>

        <Logger name="com.dianping.swallow.web.filter" level="info" additivity="true">
            <AppenderRef ref="logFilterFileAppender"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="console"/>
            <AppenderRef ref="fileAppender"/>
            <AppenderRef ref="catAppender"/>
        </Root>
    </Loggers>
</Configuration>
