#set($layout = "monitorLayout.htm")
<div style="padding: 30px">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Topic</th>
        <th>消费者</th>
      </tr>
    </thead>
    <tbody>
      #foreach($entry in $consumerBrokerMap.entrySet())
      <tr>
        <td>$entry.key</td>
        <td>$entry.value</td>
      </tr>
      #end
    </tbody>
  </table>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Topic</th>
        <th>生产者</th>
      </tr>
    </thead>
    <tbody>
      #foreach($entry in $producerMap.entrySet())
      <tr>
        <td>$entry.key</td>
        <td>$entry.value</td>
      </tr>
      #end
    </tbody>
  </table>
</div>