<div class="main-content" ng-controller="AlarmMetaController"
     id="AlarmMetaController">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript"
                src="${rc.contextPath}/static/js/swallow-alarmmetasetting.js"></script>
        <script type="text/javascript">
            try {
                ace.settings.check('breadcrumbs', 'fixed')
            } catch (e) {
            }
        </script>
        <ul class="breadcrumb">
            <li class="active">告警元信息设置</li>
        </ul>
        <a class="pull-right breadcrumbs-btn" href="#myModal"
           ng-click="clearModal()" data-toggle="modal"><i class="icon-plus"></i></a>
    </div>
    <div class="page-content" id="container">
        <div class="row">
            <table
                    class="table table-bordered table-striped  table-condensed table-hover">
                <tr>
                    <td><input type="checkbox" id="check-all"></input></td>
                    <th>编号</th>
                    <th>类型</th>
                    <th>短信
                        <div class="" style="padding:0;margin:0; float: right; height: 20px;">
                            <div style="height: 10px; line-height:5px; float: left; ">
                                <a href="#" ng-click="batchUpdate('SMS', true)"> <i class=" icon-ok"></i>
                                </a>
                            </div>
                            <div style="height: 10px; line-height:5px; ">
                                <a href="#" ng-click="batchUpdate('SMS', false)"> <i class="icon-remove"></i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>微信
                        <div class="" style="padding:0;margin:0; float: right; height: 20px;">
                            <div style="height: 10px; line-height:5px; float: left; ">
                                <a href="#" ng-click="batchUpdate('WEIXIN', true)"> <i class=" icon-ok"></i>
                                </a>
                            </div>
                            <div style="height: 10px; line-height:5px; ">
                                <a href="#" ng-click="batchUpdate('WEIXIN', false)"> <i class="icon-remove"></i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>邮件
                        <div class="" style="padding:0;margin:0; float: right; height: 20px;">
                            <div style="height: 10px; line-height:5px; float: left; ">
                                <a href="#" ng-click="batchUpdate('MAIL', true)"> <i class=" icon-ok"></i>
                                </a>
                            </div>
                            <div style="height: 10px; line-height:5px; ">
                                <a href="#" ng-click="batchUpdate('MAIL', false)"> <i class="icon-remove"></i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>系统组
                        <div class="" style="padding:0;margin:0; float: right; height: 20px;">
                            <div style="height: 10px; line-height:5px; float: left; ">
                                <a href="#" ng-click="batchUpdate('SWALLOW', true)"> <i class=" icon-ok"></i>
                                </a>
                            </div>
                            <div style="height: 10px; line-height:5px; ">
                                <a href="#" ng-click="batchUpdate('SWALLOW', false)"> <i class="icon-remove"></i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>业务组
                        <div class="" style="padding:0;margin:0; float: right; height: 20px;">
                            <div style="height: 10px; line-height:5px; float: left; ">
                                <a href="#" ng-click="batchUpdate('BUSINESS', true)"> <i class=" icon-ok"></i>
                                </a>
                            </div>
                            <div style="height: 10px; line-height:5px; ">
                                <a href="#" ng-click="batchUpdate('BUSINESS', false)"> <i class="icon-remove"></i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>标题</th>
                    <th>操作</th>
                </tr>
                <tr ng-repeat="e in searchPaginator.currentPageItems">
                    <td style="text-align: left"><input type="checkbox"
                                                        name="check-list" value="{{e.metaId}}"></input></td>
                    <td style="text-align: left">{{e.metaId}}</td>
                    <td style="text-align: left"><a
                            ng-href='${rc.contextPath}/console/setting/alarmmeta/detail/{{e.metaId}}'>{{e.type}}</a>
                    </td>
                    <td style="text-align: left"><span class="sticker"> <span
                            class="label arrowed-in"
                            ng-class="{'label-success' : e.isSmsMode== true,'label-danger' : e.isSmsMode== false}"> <i
                            class="bigger-110"
                            ng-class="{'icon-ok' : e.isSmsMode== true,'icon-remove' : e.isSmsMode== false}"></i>
						</span>
					</span></td>
                    <td style="text-align: left"><span class="sticker"> <span
                            class="label arrowed-in"
                            ng-class="{'label-success' : e.isWeiXinMode== true,'label-danger' : e.isWeiXinMode== false}"> <i
                            class="bigger-110"
                            ng-class="{'icon-ok' : e.isWeiXinMode== true,'icon-remove' : e.isWeiXinMode== false}"></i>
						</span>
					</span></td>
                    <td style="text-align: left"><span class="sticker"> <span
                            class="label arrowed-in"
                            ng-class="{'label-success' : e.isMailMode== true,'label-danger' : e.isMailMode== false}"> <i
                            class="bigger-110"
                            ng-class="{'icon-ok' : e.isMailMode== true,'icon-remove' : e.isMailMode== false}"></i>
						</span>
					</span></td>
                    <td style="text-align: left"><span class="sticker"> <span
                            class="label arrowed-in"
                            ng-class="{'label-success' : e.isSendSwallow== true,'label-danger' : e.isSendSwallow== false}"> <i
                            class="bigger-110"
                            ng-class="{'icon-ok' : e.isSendSwallow== true,'icon-remove' : e.isSendSwallow== false}"></i>
						</span>
					</span></td>
                    <td style="text-align: left"><span class="sticker"> <span
                            class="label arrowed-in"
                            ng-class="{'label-success' : e.isSendBusiness== true,'label-danger' : e.isSendBusiness== false}"> <i
                            class="bigger-110"
                            ng-class="{'icon-ok' : e.isSendBusiness== true,'icon-remove' : e.isSendBusiness== false}"></i>
						</span>
					</span></td>
                    <td style="text-align: left">{{e.alarmTitle}}</td>
                    <td style="text-align: left"><a href="#myModal"
                                                    ng-click="setModalInput($index);" data-toggle="modal"
                                                    class="edit-config-btn"><i class="icon-edit " rel="tooltip"
                                                                               data-original-title="编辑配置值"></i></a> <a
                            href=""
                            ng-click="dialog(e.metaId);" class="edit-config-btn"><i
                            class="icon-remove" rel="tooltip" data-original-title="删除配置项"></i></a></td>
                </tr>
            </table>
            <ul style="margin-top: 20px;" class="pagination">
                <li><a href="" ng-click="searchPaginator.fetch(1)">首页</a></li>
                <li><a href="" ng-click="searchPaginator.previous()"
                       ng-show="searchPaginator.hasPrevious()">上一页</a></li>
                <li ng-repeat="p in searchPaginator.pages"><a href=""
                                                              ng-click="searchPaginator.fetch(p)" ng-bind="p"></a></li>
                <li class="disabled"><a href="javascript:;">...</a></li>

                <li><a href="" ng-click="searchPaginator.next()"
                       ng-show="searchPaginator.hasNext()">下一页</a></li>

                <li><a href=""
                       ng-click="searchPaginator.fetch(searchPaginator.endPage)">末页</a></li>
            </ul>
        </div>
    </div>


    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">编辑告警元信息</h4>
                </div>
                <form method="post"
                      class="form-horizontal bs-example bs-example-form" role="form"
                      name="myForm" ng-submit="refreshpage(myForm)">
                    <div class="modal-body">
                        <div class="col-xs-12 form-group">
                            <label
                                    class="col-xs-3 control-label control-label no-padding-right">告警类型</label>

                            <div class="col-xs-9">
                                <select class="col-xs-12" ng-model="alarmMetaEntity.type"
                                        name="type" ng-options="o as o for o in types" required>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12 form-group">
                            <label
                                    class="col-xs-3 control-label control-label no-padding-right">告警级别</label>

                            <div class="col-xs-9">
                                <select class="col-xs-12" ng-model="alarmMetaEntity.levelType"
                                        name="levelType" ng-options="o as o for o in leveltypes"
                                        required>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12 form-group">
                            <label
                                    class="col-xs-3 control-label control-label no-padding-right">发送短信</label>

                            <div class="col-xs-3">
                                <select class="col-xs-12" ng-model="alarmMetaEntity.isSmsMode"
                                        name="isSmsMode" ng-options="o as o for o in booleans"
                                        required>
                                </select>
                            </div>
                            <label class="col-xs-3 control-label control-label ">发送微信</label>

                            <div class="col-xs-3">
                                <select class="col-xs-12" name="isWeiXinMode"
                                        ng-model="alarmMetaEntity.isWeiXinMode"
                                        ng-options="o as o for o in booleans" required>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12 form-group">
                            <label
                                    class="col-xs-3 control-label control-label no-padding-right">发送邮件</label>

                            <div class="col-xs-3">
                                <select class="col-xs-12" name="isMailMode"
                                        ng-model="alarmMetaEntity.isMailMode"
                                        ng-options="o as o for o in booleans" required>
                                </select>
                            </div>
                            <label
                                    class="col-xs-3 control-label control-label no-padding-right">发送Swallow组</label>

                            <div class="col-xs-3">
                                <select class="col-xs-12" name="isSendSwallow"
                                        ng-model="alarmMetaEntity.isSendSwallow"
                                        ng-options="o as o for o in booleans" required>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12 form-group">
                            <label
                                    class="col-xs-3 control-label control-label no-padding-right">发送业务组</label>

                            <div class="col-xs-9">
                                <select class="col-xs-12" name="isSendBusiness"
                                        ng-model="alarmMetaEntity.isSendBusiness"
                                        ng-options="o as o for o in booleans" required>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12 form-group">
                            <label
                                    class="col-xs-3 control-label control-label no-padding-right">标题</label>

                            <div class="col-xs-9">
                                <input type="text" class="form-control"
                                       ng-model="alarmMetaEntity.alarmTitle" name="alarmTitle"
                                       required> </input>
                            </div>
                        </div>
                        <div class="col-xs-12 form-group">
                            <label
                                    class="col-xs-3 control-label control-label no-padding-right">模版</label>

                            <div class="col-xs-9">
									<textarea class="form-control" rows="2" type="text"
                                              ng-model="alarmMetaEntity.alarmTemplate" name="alarmTemplate"
                                              required></textarea>
                            </div>
                        </div>
                        <div class="col-xs-12 form-group">
                            <label
                                    class="col-xs-3 control-label control-label no-padding-right">详情</label>

                            <div class="col-xs-9">
									<textarea class="form-control" rows="2" type="text"
                                              ng-model="alarmMetaEntity.alarmDetail" name="alarmDetail"
                                              required></textarea>
                            </div>
                        </div>
                        <div class="col-xs-12 form-group">
                            <label
                                    class="col-xs-3 control-label control-label no-padding-right">重要topic</label>

                            <div class="col-xs-9">
									<input class="form-control"  type="text"
                                              ng-model="alarmMetaEntity.majorTopics" id="majorTopics" name="majorTopics"
                                              data-provide="typeahead" autocomplete="off"/>
                            </div>
                        </div>
                        <div class="col-xs-12 form-group">
                            <label
                                    class="col-xs-3 control-label control-label no-padding-right">白天间隔基数</label>

                            <div class="col-xs-3">
                                <input type="text" class="form-control input-tooltip"
                                       data-toggle="tooltip"
                                       title="同类型告警的白天告警时间间隔基数。范围(上午7点-下午6点)，单位(min)"
                                       ng-model="
										alarmMetaEntity.daySpanBase"
                                       name="daySpanRatio" required> </input>
                            </div>
                            <label
                                    class="col-xs-3 control-label control-label no-padding-right">夜晚间隔基数</label>

                            <div class="col-xs-3">
                                <input type="text" class="form-control input-tooltip"
                                       data-toggle="tooltip"
                                       title="同类型告警的夜间告警时间间隔基数。范围(下午6点-上午7点)，单位(min)"
                                       ng-model="alarmMetaEntity.nightSpanBase" name="nightSpanRatio"
                                       required> </input>
                            </div>
                        </div>
                        <div class="col-xs-12 form-group">
                            <label
                                    class="col-xs-3 control-label control-label no-padding-right">间隔上限</label>

                            <div class="col-xs-9">
                                <input type="text" class="form-control input-tooltip"
                                       data-toggle="tooltip" title="同类型告警的两次告警时间间隔的最大值。单位(min)"
                                       ng-model="alarmMetaEntity.maxTimeSpan" name="maxTimeSpan"
                                       required> </input>
                            </div>

                        </div>
                        <div>
                            <span style="clear: both;display: block;"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="center">
                            <button type="button" class="btn btn-default"
                                    data-dismiss="modal">关闭
                            </button>
                            <button type="submit" class="btn btn-success">提交</button>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal -->
</div>
