<div class="sidebar responsive menu-min" id="sidebar"
	data-sidebar="true" data-sidebar-scroll="true"
	data-sidebar-hover="true" style="float: left">
	<script type="text/javascript">
		try {
			ace.settings.check('sidebar', 'fixed')
		} catch (e) {
		}
	</script>
	<ul class="nav nav-list">
		<li class="#if($side == 'alarm') open #end"><a href="#"
			class="dropdown-toggle"> <i class="icon-desktop"></i> <span
				class="menu-text">告警</span> <b class="arrow icon-angle-down"></b>
		</a>
			<ul class="submenu" style="display: block;">
				<li class="#if($subside == 'alarmquery') active #end"><a
					href="${contextPath}/console/tool"> <i class="icon-globe"></i>
						告警查询
				</a></li>
			</ul></li>
	</ul>
	<ul class="nav nav-list">
		<li class="#if($side == 'download') open #end"><a href="#"
			class="dropdown-toggle"> <i class="icon-desktop"></i> <span
				class="menu-text">下载</span> <b class="arrow icon-angle-down"></b>
		</a>
			<ul class="submenu" style="display: block;">
				<li class="#if($subside == 'messagedownload') active #end"><a
					href="${contextPath}/console/download"> <i class="icon-globe"></i>
						消息下载
				</a></li>
			</ul></li>
	</ul>

	<div class="sidebar-collapse" id="sidebar-collapse">
		<i class="icon-double-angle-left" data-icon1="icon-double-angle-left"
			data-icon2="icon-double-angle-right"></i>
	</div>

	<script type="text/javascript">
		try {
			ace.settings.check('sidebar', 'collapsed')
		} catch (e) {
		}
	</script>
</div>

