  <div class="main-content main-content-local" style="opacity: 1.0;" ng-controller="AdministratorController">
	<div class="breadcrumbs" id="breadcrumbs">
<!-- 		<script type="text/javascript"
			src="${rc.contextPath}/static/js/swallow-admin.js"></script> -->
		<script type="text/javascript">
                try {
                    ace.settings.check('breadcrumbs', 'fixed')
                } catch (e) {
                }
            </script>

		<a class="pull-right" href="#myModal" ng-click="clearModal()"
		ng-show="adminornot" data-toggle="modal"><i
    class="icon-plus"></i> 新建管理员名单</a>
	</div>

	<!-- page-content -->
	<div class="page-content">
		<!--page-header  -->
		<div class="page-header">

			<!--row  -->
			<div class="row">
				<table
					class="table table-bordered table-striped  table-condensed table-hover">
					<tr>
						<th style="text-align: left">序号</th>
						<th style="text-align: left">姓名</th>
						<th style="text-align: left">修改时间</th>
						<th style="text-align: left">权限</th>
						<th style="text-align: left">操作</th>
					</tr>
					<tr ng-repeat="a in searchPaginator.currentPageItems"
						on-finish-render-filters>
						<td style="text-align: left" ng-bind="$index+1"></td>
						<td style="text-align: left" ng-bind="a.name"></td>
						<td style="text-align: left" ng-bind="a.date"></td>
						<td style="text-align: left" ng-bind="a.role"></td>
						<td style="text-align: left">
							<a href="#myModal"
								ng-click="setModalInput(a.name, a.role);"
								data-toggle="modal" class="edit-config-btn"><i
								class="icon-edit " rel="tooltip" data-original-title="编辑配置值" ng-show="adminornot"></i></a>
							<a href=""
								ng-click="dialog(a.name);"
								class="edit-config-btn"><i
								class="icon-remove" rel="tooltip" data-original-title="删除配置项" ng-show="adminornot"></i></a>
							</td>
				</table>
 
				<ul style="margin-top: 20px;" class="pagination">
					<li><a href="" ng-click="searchPaginator.fetch(1)">首页</a></li>
					<li><a href="" ng-click="searchPaginator.previous()"
						ng-show="searchPaginator.hasPrevious()">上一页</a></li>
					<li ng-repeat="p in searchPaginator.pages"><a href=""
						ng-click="searchPaginator.fetch(p)">{{p}}</a></li>
					<li class="disabled"><a href="javascript:;">...</a></li>

					<li><a href="" ng-click="searchPaginator.next()"
						ng-show="searchPaginator.hasNext()">下一页</a></li>

					<li><a href=""
						ng-click="searchPaginator.fetch(searchPaginator.endPage)">末页</a></li>
				</ul>

			</div> 
			<!--end row  -->
		</div>

		<!-- 模态框（Modal） -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">编辑管理员名单</h4>
					</div>
					<div class="modal-body">
						<form method="post" class="form-horizontal" name="myForm" ng-submit="refreshpage(myForm)">
							<div class="control-group">
								<label class="control-label">点评通行证</label>
								<div class="controls">
									<input type="text" name="name" class="input-xlarge" autocomplete = "off" data-provide="typeahead"
										ng-model="adminname" id="modalname" style="width:500px" required>
								</div>
							</div>
							
<!-- 							<div class="control-group">
								<label class="control-label">邮箱</label>
								<div class="controls">
									<input type="email" name="email" class="input-xlarge"
										ng-model="adminemail" style="width:500px" required>
								</div>
							</div> -->
							
							<div class="control-group">
								<label class="control-label">角色</label>
								<div class="form-group" style="margin-right: 39px;margin-left: 0px;">
									<select class="form-control" ng-model="adminrole" id="roleselect" required>
									    <option>Administrator</option>
									    <option>User</option>
									</select>
								</div>
							</div>

							<div class="control-group" style="margin-top: 40px">
								<div class="controls">
									<button type="button" class="btn btn-default"
										data-dismiss="modal">关闭</button>
									<button type="submit" class="btn btn-success">提交</button>
								</div>
							</div>

						</form>
					</div>

				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal -->

		<!--end page-header  -->
	</div>
	<!-- end page-content -->
</div>