<div class="main-content main-content-local" style="opacity: 1.0;"
	ng-controller="TopicController">
	<div class="breadcrumbs" id="breadcrumbs">
		<script type="text/javascript"
			src="${rc.contextPath}/static/js/swallow-ipresource.js"></script>
		<script type="text/javascript">
			try {
				ace.settings.check('breadcrumbs', 'fixed')
			} catch (e) {
			}
		</script>

 	<form class="bs-example bs-example-form-local" role="form">
			<div class="input-group input-group-local">
				<span class="input-group-addon">生产者</span> <input type="text"
					class="form-control" placeholder="生产者IP..." style="width: 150px"
					id="searchiptype" ng-model=''>
				<ul class="typeahead dropdown-menu"
					style="top: 28px; left: 0px; display: none;">
				</ul>
			</div>
		</form>

		<!-- #nav-search -->
		<div class="nav-search nav-search-local" id="nav-search">
			<form class="form-search">
				<span class="input-icon"> <input type="text"
					placeholder="查找ip ..." style="width: 220px"
					class="nav-search-input"  id="searchip"
					autocomplete="off" ng-model='searchip'>
					<ul class="typeahead dropdown-menu"
						style="top: 28px; left: 0px; display: none;">
					</ul> <i class="icon-search nav-search-icon"></i>
				</span>
			</form>
		</div>
		<!-- end  breadcrumbs-->
	</div>

	<!-- page-content -->
	<div class="page-content">
		<!--page-header  -->
		<div class="page-header">

			<!--row  -->
			<div class="row">
				<table
					class="table table-bordered table-striped  table-condensed table-hover">
					<tr>
						<th style="text-align: left">序号</th>
						<th style="text-align: left">IP</th>
						<th style="text-align: left">IP类型</th>
						<th style="text-align: left">业务名</th>
						<th style="text-align: left">开发邮箱</th>
						<th style="text-align: left">开发电话</th>
						<th style="text-align: left">开发姓名</th>
						<th style="text-align: left">运维邮箱</th>
						<th style="text-align: left">运维电话</th>
						<th style="text-align: left">运维姓名</th>
						<th style="text-align: left">告警</th>
						<th style="text-align: left;">操作</th>
					</tr>
					<tr ng-repeat="t in searchPaginator.currentPageItems "
						on-finish-render-filters>
						<td style="text-align: left" ng-bind="$index+1"></td>
						<td style="text-align: left"><a
							ng-href="${rc.contextPath}/console/consumerid"
							ng-click="setTopicName(t.name)" ng-bind="t.ip"></a></td>
						<td style="text-align: left" ng-bind="t.ipType"></td>
						<td style="text-align: left" ng-bind="t.application"></td>
						<td style="text-align: left" ng-bind="t.email"></td>
						<td style="text-align: left" ng-bind="t.dpManager"></td>
						<td style="text-align: left" ng-bind="t.dpMobile"></td>
						<td style="text-align: left" ng-bind="t.opEmail"></td>
						<td style="text-align: left" ng-bind="t.opManager"></td>
						<td style="text-align: left" ng-bind="t.opMobile"></td>
						<td style="text-align: left"><label class="pull-left inline">
								<small class="muted smaller-90"></small> <input
								id="alarm{{$index}}" type="checkbox" ng-model="t.alarm" ng-click="changealarm(t.ip, t.ipType, $index)"
								class="ace ace-switch ace-switch-5" /><span class="lbl middle"></span>
						</label></td>
						#if(${isadmin})
						<td
							style="text-align: left;"><a
							href="#myModal"
							ng-click="setModalInput($index);"
							data-toggle="modal" class="edit-config-btn"><i
								class="icon-edit" rel="tooltip" data-original-title="编辑配置值"></i></a></td>
						#end
				</table>

				<ul style="margin-top: 20px;" class="pagination">
					<li><a href="" ng-click="searchPaginator.fetch(1)">首页</a></li>
					<li><a href="" ng-click="searchPaginator.previous()"
						ng-show="searchPaginator.hasPrevious()">上一页</a></li>
					<li ng-repeat="p in searchPaginator.pages"><a href=""
						ng-click="searchPaginator.fetch(p)" ng-bind="p"></a></li>
					<li class="disabled"><a href="javascript:;">...</a></li>
					<li><a href="" ng-click="searchPaginator.next()"
						ng-show="searchPaginator.hasNext()">下一页</a></li>
					<li><a href=""
						ng-click="searchPaginator.fetch(searchPaginator.endPage)">末页</a></li>
				</ul>
			</div>
			<!--end row  -->
		</div>

	<!-- 模态框（Modal） -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">配置Topic</h4>
				</div>
				<div class="modal-body">
					<form method="post" class="form-horizontal" name="myForm"
						ng-submit="refreshpage(myForm)">
						<div class="control-group">
							<div class="form-group"
								style="margin-right: 39px; margin-left: 0px;; width: 50%;">
								<label class="control-label"><b>Topic</b></label> <input
									type="text" class="form-control" ng-model="topicEntry.name"
									id="topic" data-provide="typeahead" autocomplete="off" required>
								</input>
							</div>
						</div>
						<div class="control-group">
							<div class="form-group"
								style="margin-right: 39px; margin-left: 0px;; width: 50%;">
								<label class="control-label"><b>ConsumerId白名单</b></label> <input
									type="text" class="form-control"
									ng-model="topicEntry.consumerIdWhiteList" id="whitelist"
									data-provide="typeahead" autocomplete="off"> </input>
							</div>
						</div>
						<div class="control-group">
							<div class="form-group"
								style="margin-right: 39px; margin-left: 0px;; width: 50%;">
								<label class="control-label"><b>访问者白名单</b></label> <input
									type="text" class="form-control"
									ng-model="topicEntry.prop" id="prop"
									data-provide="typeahead" autocomplete="off"> </input>
							</div>
						</div>
						<div class="control-group">
							<div class="form-group"
								style="margin-right: 39px; margin-left: 0px;; width: 50%;">
								<label class="control-label"><b>生产者IP</b></label> <input
									type="text" class="form-control"
									ng-model="topicEntry.producerServer" id="producerServer"
									data-provide="typeahead" autocomplete="off"> </input>
							</div>
						</div>
						
						<div class="control-group">
							<label class="control-label"><b>发送端设置</b></label>
							<div class="form-group"
								style="margin-right: 39px; margin-left: 40px;">
								<label class="control-label">发送QPS</label>
								<div class="col-sm-12">
									<label class="col-sm-2 control-label">峰值</label> <input
										class="col-sm-2" type="text"
										ng-model="topicEntry.sendpeak" /> <label
										class="col-sm-2 control-label">谷值</label><input type="text"
										class="col-sm-2" ng-model="topicEntry.sendvalley" /> <label
										class="col-sm-2 control-label">波动</label><input type="text"
										class="col-sm-2" ng-model="topicEntry.sendfluctuation" /><label
										class="col-sm-2 control-label">波动基数</label><input type="text"
										class="col-sm-2" ng-model="topicEntry.sendfluctuationBase" />
								</div>
							</div>
							<div class="form-group"
								style="margin-right: 39px; margin-left: 40px;">
								<label class="control-label">延迟</label>
								<div class="col-sm-12">
									<label class="col-sm-2 control-label">发送</label> <input
										class="col-sm-2" type="text"
										ng-model="topicEntry.delay" />
								</div>
							</div>
						</div>
						<div class="control-group" style="margin-top: 40px">
							<div class="controls">
								<button type="button" class="btn btn-default"
									data-dismiss="modal">关闭</button>
								<button type="submit" class="btn btn-success">提交</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>

		<!--end page-header  -->
	</div>
	<!-- end page-content -->
</div>