<!DOCTYPE html>
<html  lang="en">
 <script>  
	window.contextPath = "${rc.contextPath}";
	window.offset = 0;
	window.limit = 30;
	
</script>
<head>#parse("common/header.htm")
</head>

<body class="navbar-fixed" ng-app='SwallowModule' >
	#parse("common/navbar.htm")
	<div class="main-container-inner" >
		#parse("common/baseJs.htm")
		#parse("common/sidebar.htm") $screen_content</div>
	
	<script type="text/javascript">
      $('#datetimepicker').datetimepicker({
        format: 'yyyy-mm-dd',
        language: 'zh-CN',/*加载日历语言包，可自定义*/
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0,
        autoclose:true
      });
      
      $('.swallow-datetime').datetimepicker({
          format: 'yyyy-mm-dd hh:ii:ss',  //24 hours
          language: 'en',/*加载日历语言包，可自定义*/
          pickDate: true,
          pickTime: true,
          hourStep: 1,
          minuteStep: 15,
          secondStep: 30,
          inputMask: true,
          autoclose:true
        });


    </script>
</body>  
</html>