<div class="breadcrumbs" id="breadcrumbs">
  <script type="text/javascript">
			try {
				ace.settings.check('breadcrumbs', 'fixed')
			} catch (e) {
			}
		</script>
  <ul class="breadcrumb">
    <li class="active">当前topic：${topic} &nbsp; <span
      class="label label-warning" ng-show="newVs"><i class=" icon-exclamation-sign"></i>&nbsp; </span></li>
  </ul>
  <!-- .breadcrumb -->
  <a style="position: absolute; right: 350px;" href="#" class=""><i
    class="icon-plus"></i> 查询topic</a>

  <!-- #nav-search -->
  <div class="nav-search" id="nav-search">
    <form class="form-search">
      <span class="input-icon"> <input type="text" placeholder="快速切换topic ..." style="width: 300px"
        class="nav-search-input" name="a" id="consumer-div" autocomplete="off">
        <ul class="typeahead dropdown-menu" style="top: 28px; left: 0px; display: none;">
        </ul> <i class="icon-search nav-search-icon"></i>
      </span>
    </form>
  </div>
</div>
