<div>
	<div class="page-content-div">
		<div class="page-content-input-div">
			<input type="text" class="form-control" placeholder="top n" id="resultCount" ng-model='resultCount'/>
			<button type="button" class="btn btn-success" ng-click="queryOrderList('${topic}')">排序</button>
		</div>
	</div>
	<div class="row row-div-table"  ng-hide="IsShowOrderQps">

		<table
			class="table table-small table-bordered table-striped  table-condensed table-hover"
			ng-repeat="item in orderDatas.orderStatsDatas">
			<tr class="table-smalll-tr">
				<th class="text-primary table-smalll-td" colspan="2">{{item.info.desc}}排序</th>
			</tr>
			<tr class="table-smalll-tr">
				<th class="text-danger table-smalll-td" colspan="2">{{item.start|date:'yyyy-MM-dd HH:mm:ss'}}-{{
					item.end|date:'yyyy-MM-dd HH:mm:ss'}}</th>
			</tr>
			<tr ng-repeat="subItem in item.dataResults">
				<td class="table-smalll-td table-smalll-td-consumerId"><a>
				{{showRelatedInfo(subItem.topicName, subItem.consumerId)}}</a></td>
				<td class="table-smalll-td">{{subItem.sumData}}</td>
			</tr>
		</table>
	</div>
</div>