<div class="sidebar" id="sidebar">
	<script type="text/javascript">
		try {
			ace.settings.check('sidebar', 'fixed')
		} catch (e) {
		}
	</script>
	<ul class="nav nav-list">
		<li class="#if($menu == 'delay') open #end"><a href="#"
			class="dropdown-toggle"> <i class="icon-desktop"></i> <span
				class="menu-text">topic监控</span> <b class="arrow icon-angle-down"></b>
		</a>
			<ul class="submenu" style="display: block;">
				<li class="#if($subside == 'delay') active #end"><a
					href="${contextPath}/console/monitor/consumer/total/delay"> <i
						class="icon-globe"></i> 延时监控
				</a></li>
				<li class="#if($subside == 'qps') active #end"><a
					href="${contextPath}/console/monitor/consumer/total/qps"> <i
						class="icon-globe"></i> 每秒消息(topic)
				</a></li>
				<li class="#if($subside == 'consumeraccu') active #end"><a
					href="${contextPath}/console/monitor/consumer/total/accu"> <i
						class="icon-globe"></i> 消息堆积(topic)
				</a></li>
			</ul>
			</li>
	</ul>
	<ul class="nav nav-list">
        <li class="#if($menu == 'delay') open #end">
            <a href="#" class="dropdown-toggle"> <i class="icon-desktop"></i> <span
                class="menu-text">swallow server监控</span> <b
                class="arrow icon-angle-down"></b></a>
            <ul class="submenu" style="display: block;">
	            <li class="#if($subside == 'producerserverqps') active #end"><a
	                href="${contextPath}/console/monitor/producerserver/qps"> <i
	                    class="icon-globe"></i> 每秒消息(producer server)
	            </a></li>
	            <li class="#if($subside == 'consumerserverqps') active #end"><a
	                href="${contextPath}/console/monitor/consumerserver/qps"> <i
	                    class="icon-globe"></i> 每秒消息(consumer server)
	            </a></li>
            </ul>
        </li>	
	</ul>
	<!-- /.nav-list -->

	<div class="sidebar-collapse" id="sidebar-collapse">
		<i class="icon-double-angle-left" data-icon1="icon-double-angle-left"
			data-icon2="icon-double-angle-right"></i>
	</div>

	<script type="text/javascript">
		try {
			ace.settings.check('sidebar', 'collapsed')
		} catch (e) {
		}
	</script>
</div>

