<div class="main-content" ng-controller="ProducerServerSettingController"
	id="ProducerServerSettingController">
		<div class="breadcrumbs" id="breadcrumbs">
		<script type="text/javascript"
				src="${rc.contextPath}/static/js/swallow-producerserversetting.js"></script>
			<script type="text/javascript">
				try {
					ace.settings.check('breadcrumbs', 'fixed')
				} catch (e) {
				}
			</script>
			<ul class="breadcrumb">
				<li class="active">producer server设置</li>
			</ul>
			<a class="pull-right breadcrumbs-btn" href="#myModal" ng-click="clearModal()"
				data-toggle="modal"><i class="icon-plus"></i></a>
		</div>
		<div class="page-content" id="container">
			<div class="row">
				<table
					class="table table-bordered table-striped  table-condensed table-hover">
					<tr>
						<th style="text-align: left">序号</th>
						<th style="text-align: left">ServerId</th>
						<th style="text-align: left">主机名</th>
						<th style="text-align: left">发送峰值</th>
						<th style="text-align: left">发送谷值</th>
						<th style="text-align: left">发送波动</th>
						<th style="text-align: left">波动基数</th>
						<th style="text-align: left">启用</th>
						<th style="text-align: left">告警</th>
						<th style="text-align: left">操作</th>
					</tr>
					<tr ng-repeat="ad in searchPaginator.currentPageItems">
						<td style="text-align: left" ng-bind="$index+1"></td>
						<td style="text-align: left" ng-bind="ad.ip"></td>
						<td style="text-align: left" ng-bind="ad.hostname"></td>
						<td style="text-align: left" ng-bind="ad.sendpeak"></td>
						<td style="text-align: left" ng-bind="ad.sendvalley"></td>
						<td style="text-align: left" ng-bind="ad.sendfluctuation"></td>
						<td style="text-align: left" ng-bind="ad.sendfluctuationBase"></td>
						<td style="text-align: left"><label class="pull-left inline">
								<small class="muted smaller-90"></small> <input
								id="pactive{{$index}}" type="checkbox" ng-model="ad.active" ng-click="changeproduceractive(ad.ip, $index)"
								class="ace ace-switch ace-switch-5" /><span class="lbl middle"></span>
						</label></td>
						<td style="text-align: left"><label class="pull-left inline">
								<small class="muted smaller-90"></small> <input
								id="palarm{{$index}}" type="checkbox" ng-model="ad.alarm" ng-click="changeproduceralarm(ad.ip, $index)"
								class="ace ace-switch ace-switch-5" /><span class="lbl middle"></span>
						</label></td>
						<td style="text-align: left"><a href="#myModal"
							ng-click="setModalInput($index);" data-toggle="modal"
							class="edit-config-btn"><i class="icon-edit " rel="tooltip"
								data-original-title="编辑配置值"></i></a> <a href ng-show="isdefault(ad.ip)"
							ng-click="dialog(ad.ip);"
							class="edit-config-btn"><i class="icon-remove" rel="tooltip"
								data-original-title="删除配置项"></i></a></td>
					</tr>
				</table>
			</div>
		</div>


		<!-- 模态框（Modal） -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">配置ProducerServer</h4>
					</div>
					<div class="modal-body">
						<form method="post" class="form-horizontal" name="myForm"
							ng-submit="refreshpage(myForm)">
							<div class="control-group">
								<div class="form-group"
									style="margin-right: 39px; margin-left: 0px;; width: 50%;">
									<label class="control-label"><b>ServerId(IP)</b></label> <input
										type="text" class="form-control" data-provide="typeahead" autocomplete="off"
										ng-model="producerserverEntry.ip" id="serverId" ng-readonly="isReadOnly">
									</input>
								</div>
							</div>
							<div class="control-group">
								<div class="form-group"
									style="margin-right: 39px; margin-left: 0px;; width: 50%;">
									<label class="control-label"><b>主机名</b></label> <input
										type="text" class="form-control" data-provide="typeahead" autocomplete="off"
										ng-model="producerserverEntry.hostname" id="hostname" required>
									</input>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">发送QPS</label>
								<div class="form-group"
									style="margin-right: 39px; margin-left: 0px;">
									<div class="col-sm-12">
										<label class="col-sm-2 control-label">峰值</label> <input
											class="col-sm-2" type="text"
											ng-model="producerserverEntry.sendpeak" /> <label
											class="col-sm-2 control-label">谷值</label><input type="text"
											class="col-sm-2" ng-model="producerserverEntry.sendvalley" /> <label
											class="col-sm-2 control-label">波动</label><input type="text"
											class="col-sm-2" ng-model="producerserverEntry.sendfluctuation" /><label
											class="col-sm-2 control-label">波动基数</label><input type="text"
											class="col-sm-2" ng-model="producerserverEntry.sendfluctuationBase" />
									</div>
								</div>
							</div>
							<div class="control-group" style="margin-top: 40px">
								<div class="controls">
									<button type="button" class="btn btn-default"
										data-dismiss="modal">关闭</button>
									<button type="submit" class="btn btn-success">提交</button>
								</div>
							</div>
						</form>
					</div>

				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal -->
	</div>

