<div class="sidebar responsive menu-min" id="sidebar"
	data-sidebar="true" data-sidebar-scroll="true"
	data-sidebar-hover="true" style="float: left">
	<script type="text/javascript">
		try {
			ace.settings.check('sidebar', 'fixed')
		} catch (e) {
		}
	</script>
	<ul class="nav nav-list">
		<li class="#if($side == 'serverwarn') open #end"><a href="#"
			class="dropdown-toggle"> <i class="icon-desktop"></i> <span
				class="menu-text">告警参数设置</span> <b class="arrow icon-angle-down"></b>
		</a>
			<ul class="submenu" style="display: block;">
				<li class="#if($subside == 'producer') active #end"><a
					href="${contextPath}/console/server/producer"> <i
						class="icon-globe"></i> producerserver设置
				</a></li>
				<li class="#if($subside == 'consumer') active #end"><a
					href="${contextPath}/console/server/consumer"> <i
						class="icon-globe"></i> consumerserver设置
				</a></li>
			</ul></li>
	</ul>
	<!-- /.nav-list -->

	<div class="sidebar-collapse" id="sidebar-collapse">
		<i class="icon-double-angle-left" data-icon1="icon-double-angle-left"
			data-icon2="icon-double-angle-right"></i>
	</div>

	<script type="text/javascript">
		try {
			ace.settings.check('sidebar', 'collapsed')
		} catch (e) {
		}
	</script>
</div>

