<div class="main-container-inner"
	ng-controller="ConsumerServerSettingController"
	id="ConsumerServerSettingController">
	<div class="main-content">
		<div class="breadcrumbs" id="breadcrumbs">
			<script type="text/javascript">
				try {
					ace.settings.check('breadcrumbs', 'fixed')
				} catch (e) {
				}
			</script>

			<a class="pull-right" href="#myModal" ng-click="clearModal()"
				data-toggle="modal"><i class="icon-plus"></i>新增setting</a>
		</div>
		<div class="page-content" id="container">
			<div class="row">
				<table
					class="table table-bordered table-striped  table-condensed table-hover">
					<tr>
						<th style="text-align: left">序号</th>
						<th style="text-align: left">ServerId</th>
						<th style="text-align: left">白名单</th>
						<th style="text-align: left">消费发送峰值</th>
						<th style="text-align: left">消费发送谷值</th>
						<th style="text-align: left">消费发送波动</th>
						<th style="text-align: left">消费确认峰值</th>
						<th style="text-align: left">消费确认谷值</th>
						<th style="text-align: left">消费确认波动</th>
						<th style="text-align: left">操作</th>
					</tr>
					<tr ng-repeat="ad in searchPaginator.currentPageItems">
						<td style="text-align: left" ng-bind="$index+1"></td>
						<td style="text-align: left" ng-bind="ad.serverId"></td>
						<td style="text-align: left" ng-bind="ad.whitelist"></td>
						<td style="text-align: left" ng-bind="ad.consumersendpeak"></td>
						<td style="text-align: left" ng-bind="ad.consumersendvalley"></td>
						<td style="text-align: left" ng-bind="ad.consumersendfluctuation"></td>
						<td style="text-align: left" ng-bind="ad.consumerackpeak"></td>
						<td style="text-align: left" ng-bind="ad.consumerackvalley"></td>
						<td style="text-align: left" ng-bind="ad.consumerackfluctuation"></td>
						<td style="text-align: left"><a href="#myModal"
							ng-click="setModalInput($index);" data-toggle="modal"
							class="edit-config-btn"><i class="icon-edit " rel="tooltip"
								data-original-title="编辑配置值"></i></a> <a href=""
							ng-click="dialog(ad.serverId);"
							class="edit-config-btn"><i class="icon-remove" rel="tooltip"
								data-original-title="删除配置项"></i></a></td>
					</tr>
				</table>
			</div>
		</div>


		<!-- 模态框（Modal） -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">配置ConsumerServer</h4>
					</div>
					<div class="modal-body">
						<form method="post" class="form-horizontal" name="myForm"
							ng-submit="refreshpage(myForm)">
							<div class="control-group">
								<div class="form-group"
									style="margin-right: 39px; margin-left: 0px;; width: 50%;">
									<label class="control-label"><b>ServerId</b></label> <input
										type="text" class="form-control"
										ng-model="consumerserverEntry.serverId" name="topic" required>
									</input>
								</div>
							</div>
							<div class="control-group">
								<div class="form-group"
									style="margin-right: 39px; margin-left: 0px;; width: 50%;">
									<label class="control-label"><b>Topic白名单</b></label> <input
										type="text" class="form-control"
										ng-model="consumerserverEntry.whitelist" name="whitelist">
									</input>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">发送QPS</label>
								<div class="form-group"
									style="margin-right: 39px; margin-left: 0px;">
									<div class="col-sm-12">
										<label class="col-sm-2 control-label">峰值</label> <input
											class="col-sm-2" type="text"
											ng-model="consumerserverEntry.consumersendpeak" /> <label
											class="col-sm-2 control-label">谷值</label><input type="text"
											class="col-sm-2" ng-model="consumerserverEntry.consumersendvalley" /> <label
											class="col-sm-2 control-label">波动</label><input type="text"
											class="col-sm-2" ng-model="consumerserverEntry.consumersendfluctuation" />
									</div>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">确认QPS</label>
								<div class="form-group"
									style="margin-right: 39px; margin-left: 0px;">
									<div class="col-sm-12">
										<label class="col-sm-2 control-label">峰值</label> <input
											class="col-sm-2" type="text"
											ng-model="consumerserverEntry.consumerackpeak" /> <label
											class="col-sm-2 control-label">谷值</label><input type="text"
											class="col-sm-2" ng-model="consumerserverEntry.consumerackvalley" /> <label
											class="col-sm-2 control-label">波动</label><input type="text"
											class="col-sm-2" ng-model="consumerserverEntry.consumerackfluctuation" />
									</div>
								</div>
							</div>
							<div class="control-group" style="margin-top: 40px">
								<div class="controls">
									<button type="button" class="btn btn-default"
										data-dismiss="modal">关闭</button>
									<button type="submit" class="btn btn-success">提交</button>
								</div>
							</div>
						</form>
					</div>

				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal -->
	</div>

</div>


