<div class="main-container-inner"
	ng-controller="ConsumerIdSettingController"
	id="ConsumerIdSettingController">

	<div class="main-content">
		<div class="breadcrumbs" id="breadcrumbs">
			<script type="text/javascript">
				try {
					ace.settings.check('breadcrumbs', 'fixed')
				} catch (e) {
				}
			</script>

			<a class="pull-right" href="#myModal" ng-click="clearModal()"
				data-toggle="modal"><i class="icon-plus"></i>新增setting</a>
		</div>
		<div class="page-content" id="container">
			<div class="row">
				<table
					class="table table-bordered table-striped  table-condensed table-hover">
					<tr>
						<th style="text-align: left">序号</th>
						<th style="text-align: left">发送峰值</th>
						<th style="text-align: left">发送谷值</th>
						<th style="text-align: left">发送波动</th>
						<th style="text-align: left">确认峰值</th>
						<th style="text-align: left">确认谷值</th>
						<th style="text-align: left">确认波动</th>
						<th style="text-align: left">发送延迟</th>
						<th style="text-align: left">确认延迟</th>
						<th style="text-align: left">消息堆积</th>
						<th style="text-align: left">操作</th>
					</tr>
					<tr ng-repeat="ad in searchPaginator.currentPageItems">
						<td style="text-align: left" ng-bind="$index+1"></td>
						<td style="text-align: left"
							ng-bind="ad.consumerAlarmSetting.senderQpsAlarmSetting.peak"></td>
						<td style="text-align: left"
							ng-bind="ad.consumerAlarmSetting.senderQpsAlarmSetting.valley"></td>
						<td style="text-align: left"
							ng-bind="ad.consumerAlarmSetting.senderQpsAlarmSetting.fluctuation"></td>
						<td style="text-align: left" ng-bind="ad.consumerAlarmSetting.ackQpsAlarmSetting.peak"></td>
						<td style="text-align: left"
							ng-bind="ad.consumerAlarmSetting.ackQpsAlarmSetting.valley"></td>
						<td style="text-align: left"
							ng-bind="ad.consumerAlarmSetting.ackQpsAlarmSetting.fluctuation"></td>
						<td style="text-align: left" ng-bind="ad.consumerAlarmSetting.senderDelay"></td>
						<td style="text-align: left" ng-bind="ad.consumerAlarmSetting.ackDelay"></td>
						<td style="text-align: left" ng-bind="ad.consumerAlarmSetting.accumulation"></td>
						<td style="text-align: left"><a href="#myModal"
							ng-click="setModalInput(ad.name, ad.role);" data-toggle="modal"
							class="edit-config-btn"><i class="icon-edit " rel="tooltip"
								data-original-title="编辑配置值"></i></a> <a href=""
							ng-click="dialog(ad.name);" class="edit-config-btn"><i
								class="icon-remove" rel="tooltip" data-original-title="删除配置项"></i></a></td>
					</tr>
				</table>
			</div>
		</div>


		<!-- 模态框（Modal） -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">编辑ConsumerId设置</h4>
					</div>
					<div class="modal-body">
						<form method="post" class="form-horizontal" name="myForm"
							ng-submit="refreshpage(myForm)">
							<div class="control-group">
								<div class="form-group"
									style="margin-right: 39px; margin-left: 0px;; width: 50%;">
									<label class="control-label">ConsumerId</label> <input type="text"
										class="form-control" ng-model="consumeridEntry.consumerId"
										name="consumerId" required> </input>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">发送QPS</label>
								<div class="form-group"
									style="margin-right: 39px; margin-left: 0px;">
									<div class="col-sm-12">
										<label class="col-sm-2 control-label">峰值</label> <input
											class="col-sm-2" type="text"
											ng-model="consumeridEntry.sendpeak" /> <label
											class="col-sm-2 control-label">谷值</label><input type="text"
											class="col-sm-2" ng-model="consumeridEntry.sendvalley" /> <label
											class="col-sm-2 control-label">波动</label><input type="text"
											class="col-sm-2" ng-model="consumeridEntry.sendfluctuation" />
									</div>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">确认QPS</label>
								<div class="form-group"
									style="margin-right: 39px; margin-left: 0px;">
									<div class="col-sm-12">
										<label class="col-sm-2 control-label">峰值</label> <input
											class="col-sm-2" type="text"
											ng-model="consumeridEntry.ackpeak" /> <label
											class="col-sm-2 control-label">谷值</label><input type="text"
											class="col-sm-2" ng-model="consumeridEntry.ackvalley" /> <label
											class="col-sm-2 control-label">波动</label><input type="text"
											class="col-sm-2" ng-model="consumeridEntry.ackfluctuation" />
									</div>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">发送延迟</label>
								<div class="form-group"
									style="margin-right: 39px; margin-left: 0px; width: 50%;">
									<input type="text" class="form-control"
										ng-model="consumeridEntry.senddelay" name="senddelay" required>
									</input>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">确认延迟</label>
								<div class="form-group"
									style="margin-right: 39px; margin-left: 0px;; width: 50%;">
									<input type="text" class="form-control"
										ng-model="consumeridEntry.ackdelay" name="ackdelay" required>
									</input>
								</div>
							</div>
							<div class="control-group">
								<div class="form-group"
									style="margin-right: 39px; margin-left: 0px;; width: 50%;">
									<label class="control-label">消息堆积</label> <input type="text"
										class="form-control" ng-model="consumeridEntry.accumulation"
										name="accumulation" required> </input>
								</div>
							</div>
							<div class="control-group" style="margin-top: 40px">
								<div class="controls">
									<button type="button" class="btn btn-default"
										data-dismiss="modal">关闭</button>
									<button type="submit" class="btn btn-success">提交</button>
								</div>
							</div>
						</form>
					</div>

				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal -->
	</div>

</div>
