<div class="main-content main-content-local" style="opacity: 1.0;"
     ng-controller="MessageController">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript"
                src="${rc.contextPath}/static/js/swallow-message.js"></script>
        <script type="text/javascript">
            try {
                ace.settings.check('breadcrumbs', 'fixed')
            } catch (e) {
            }
        </script>

        <form class="bs-example bs-example-form" role="form">
            <div class="input-group" style="margin-left: 20px">
                <span class="input-group-addon">Topic名称</span> <input type="text"
                                                                      class="form-control" placeholder="请先输入Topic 名称"
                                                                      style="width: 200px" id="topicname"
                                                                      ng-model='topic' required>
                <ul class="typeahead dropdown-menu"
                    style="top: 28px; left: 0px; display: none;">
                </ul>
                <span class="input-group-addon" style="opacity: 0;"></span> 保存时间查询 <input
                    type="text" placeholder="开始时间..." ng-model="startdt" id="starttime">
                <input type="text" placeholder="结束时间..." ng-model="stopdt"
                       id="stoptime">
                <button type="button" class="btn btn-success btn-swallow-ok"
                        id="summittime" ng-click="queryByTime()">查询
                </button>
                <button type="button" class="btn btn-success btn-swallow-ok"
                        id="dump" ng-click="dumprecord()" data-toggle="tooltip"
                        title="导出查询结果，任务结束后系统会自动跳转到下载页面,请耐心等待页面跳转">导出
                </button>
            </div>
        </form>

        <!-- #nav-search -->
        <div class="nav-search" id="nav-search">
            <form class="form-search">
				<span class="input-icon"> <input type="text"
                                                 placeholder="根据MessageId查找 ..." style="width: 205px"
                                                 class="nav-search-input" name="a" id="searchmid" autocomplete="off"
                                                 ng-model="messageId" ng-keyup="myKeyup($event)">
					<ul class="typeahead dropdown-menu"
                        style="top: 28px; left: 0px; display: none;">
                    </ul> <i class="icon-search nav-search-icon"></i>
				</span>
            </form>
        </div>
        <!-- end  breadcrumbs-->
    </div>

    <div class="breadcrumbs">
        <script type="text/javascript">
            try {
                ace.settings.check('breadcrumbs', 'fixed')
            } catch (e) {
            }
        </script>

        <div class="btn-group" role="group" aria-label=""
             style="margin-left: 20px;">
            <button type="submit" class="btn btn-success btn-swallow-ok"
                    data-toggle="modal" data-target="#myModal">发送自定义消息
            </button>
            <button type="button" class="btn btn-success btn-swallow-ok" id="message-retransmit" style="display: none;"
                    ng-click="dialog()">发送下表消息
            </button>
        </div>
        <div class="pull-right">
            <a href="" data-toggle="tooltip"
               title="mongo存储使用Capped Collection,当分配的磁盘空间耗尽,最新的消息会覆盖最早的消息">最早时间</a>
            <input type="text" ng-model="mintime"
                   style="width: 150px; margin-right: 10px;" readonly="readonly">
        </div>

    </div>

    <!-- page-content -->
    <div class="page-content">
        <!--page-header  -->
        <div class="page-header">

            <!--row  -->
            <div class="row">
                <table
                        class="table table-bordered table-striped table-condensed  table-hover">
                    <tr>
                        <th style="text-align: left"><input type="checkbox" id="selectall" ng-click="selectall()"></th>
                        <th style="text-align: left">序号</th>
                        <th style="text-align: left"><a href="" data-toggle="tooltip"
                                                        ng-click="reverse()" title="点击逆序显示">消息ID</a></th>
                        <th style="text-align: left">消息内容</th>
                        <th style="text-align: left">保存时间</th>
                        <th style="text-align: left">产生时间</th>
                        <th style="text-align: left">原始ID</th>
                        <th style="text-align: left">属性</th>
                        <th style="text-align: left">重发</th>
                        <th style="text-align: left">更多选项</th>
                        #if(${isadmin})
                        <th style="text-align: left">消费详情</th>
                        #end
                    </tr>
                    <tr ng-repeat="m in searchPaginator.currentPageItems">
                        <td style="text-align: left"><input type="checkbox"
                                                            class="swallowcheckbox"></td>
                        <td style="text-align: left" ng-bind="$index+1"></td>
                        <td style="text-align: left" ng-bind="m.mid"></td>
                        <td style="text-align: left"><a ng-click="formatres(m.mid)"
                                                        class="edit-config-btn" style="cursor: pointer;"
                                                        ng-bind="searchPaginator.currentPartialCon[$index]"></a></td>
                        <td style="text-align: left" ng-bind="m.ststring"></td>
                        <td style="text-align: left" ng-bind="m.gtstring"></td>
                        <td style="text-align: left" ng-bind="m.mo_id"></td>
                        <td style="text-align: left" ng-bind="m.p | limitTo : 100"></td>
                        <td style="text-align: left" ng-bind="m.retransmit"></td>
                        <td style="text-align: left"><a
                                ng-click="showfullmessage(m.mid)" class="edit-config-btn"
                                style="cursor: pointer;"><i class="icon-folder-open"></i></a></td>
                        #if(${isadmin})
                        <td style="text-align: left"><a
                                ng-click="showconsumerdetail(m.mid)" class="edit-config-btn"
                                style="cursor: pointer;">详情</a></td>
                        #end
                </table>

                <ul style="margin-top: 20px;" class="pagination">
                    <li><a href="" ng-click="searchPaginator.fetch(1)">首页</a></li>
                    <li><a href="" ng-click="searchPaginator.previous()"
                           ng-show="searchPaginator.hasPrevious()">&lt;&lt; 上一页</a></li>
                    <li ng-repeat="p in searchPaginator.pages"><a href=""
                                                                  ng-click="searchPaginator.fetch(p)" ng-bind="p"></a>
                    </li>
                    <li class="disabled"><a href="javascript:;">...</a></li>
                    <li><a href="" ng-click="searchPaginator.next()"
                           ng-show="searchPaginator.hasNext()">下一页</a></li>
                    <li><a href=""
                           ng-click="searchPaginator.fetch(searchPaginator.endPage)">末页</a></li>
                    <li><a href=""
                           ng-click="searchPaginator.fetch(searchPaginator.endPage)"
                           ng-show="searchPaginator.pages.length"
                           ng-bind="searchPaginator.totalpieces" data-toggle="tooltip"
                           title="如果消息数大于100万,请使用上下页切换"></a></li>
                    <select class="selectpicker" ng-model="recordofperpage"
                            ng-change="makeChanged()"
                            ng-options="item.num as item.num for item in numperpage"></select>
                </ul>
            </div>
        </div>

        <!-- 模态框（Modal） for transmit self defined message-->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">编辑Topic</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" name="myForm"
                              ng-submit="refreshpage(myForm)">
                            <div class="control-group">
                                <label class="control-label">Topic名称 :</label>

                                <div class="controls">
                                    <input type="text" name="name" class="input-xlarge"
                                           ng-model="topic" readonly>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">消息类型 :</label>

                                <div class="controls">
                                    <input type="text" name="type" class="input-xlarge"
                                           ng-model="ttype" placeholder="没有可以忽略">
                                </div>
                            </div>
                            <div class="control-group input_fields_wrap">
                                <label class="control-label">消息属性 :</label> <a
                                    class="add_field_button" href=""
                                    ng-click="addfield();$event.preventDefault()"
                                    style="margin-left: 205px;"><i class="icon-plus"></i> Add</a>
                                <!-- <button class="add_field_button" ng-click="addfield();$event.preventDefault()">Add More Fields</button> -->
                                <div class="input-group">
                                    <input type="text" name="property"
                                           class="input-xlarge property-input"
                                           placeholder="key:value形式,点击Add添加,否则忽略"> <input
                                        class="dropdown-toggle" type="text" id="delimitor"
                                        data-toggle="dropdown" aria-expanded="true" value=":"
                                        style="width: 31px" required data-toggle="tooltip"
                                        title="key和value的分隔符">
                                    <ul class="dropdown-menu" role="menu"
                                        aria-labelledby="dropdownMenu1" style="margin-left: 270px;">
                                        <li role="presentation" ng-repeat="d in dearray"><a
                                                role="menuitem" tabindex="-1" href=""
                                                ng-click="setdelimitor($index)" ng-bind="d"></a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">输入json化的消息体(每次只能发送一条,如需批量发送请查看帮助文档中的API)</label>

                                <div class="controls">
									<textarea class="form-control" name="textarea"
                                              id="message-text" rows="10" ng-model="textarea"
                                              placeholder='{
  "swallow": {
    "developer": "[]",
    "user": "xxx"
  },
  "web": {
    "key1": -1,
    "key2": -2
  }
}'
                                              required></textarea>
                                </div>
                            </div>

                            <div class="control-group" style="margin-top: 40px">
                                <div class="controls">
                                    <button type="button" class="btn btn-default"
                                            data-dismiss="modal">关闭
                                    </button>
                                    <button type="submit" class="btn btn-success">发送消息</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->

        <!-- 模态框（Modal）for show content -->
        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">消息内容</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label">Topic名称 :</label>

                                <div class="controls">
                                    <input type="text" name="name" class="input-xlarge"
                                           ng-model="topic" readonly>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">消息体</label>

                                <div class="controls">
									<textarea class="form-control" id="message-text" rows="10"
                                              ng-model="messagecontent" readonly></textarea>
                                </div>
                            </div>

                            <div class="control-group" style="margin-top: 40px">
                                <div class="controls">
                                    <button type="button" class="btn btn-default"
                                            data-dismiss="modal">关闭
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->

        <!-- 模态框（Modal）for show more options -->
        <div class="modal fade" id="myModal3" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">消息内容</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label">Topic名称 :</label>

                                <div class="controls">
                                    <input type="text" name="name" class="input-xlarge"
                                           ng-model="topic" readonly>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">消息体</label>

                                <div class="controls">
									<textarea class="form-control" id="message-text" rows="10"
                                              ng-model="fullmessage" readonly></textarea>
                                </div>
                            </div>

                            <div class="control-group" style="margin-top: 40px">
                                <div class="controls">
                                    <button type="button" class="btn btn-default"
                                            data-dismiss="modal">关闭
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- 模态框（Modal） -->
        <div class="modal fade" id="myModal4" tabindex="-3" role="dialog"
             aria-labelledby="myModalLabel1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel2">消费详情</h4>
                    </div>
                    <div class="modal-body">
                            <div class="control-group">
                                <div class="form-group"
                                     style="margin-right: 39px; margin-left: 0px;; width: 50%;">
                                    <label class="control-label">消息ID</label> <input
                                        type="text" class="form-control"
                                        ng-model="currentMid" readonly> </input>
                                </div>
                            </div>
                            <div class="control-group" ng-show="consumerDetails">
                                <label class="control-label">消费IP配置</label>

                                <table
                                        class="table table-bordered table-striped  table-condensed table-hover">
                                    <tr>
                                        <th style="text-align: left">序号</th>
                                        <th style="text-align: left">cid</th>
                                        <th style="text-align: left">类型</th>
                                        <th style="text-align: left">时间</th>
                                    </tr>
                                    <tr ng-repeat="consumerDetail in consumerDetails">
                                        <td style="text-align: left" ng-bind="$index+1"></td>
                                        <td style="text-align: left" ng-bind="consumerDetail.cid"></td>
                                        <td style="text-align: left" ng-bind="consumerDetail.type"></td>
                                        <td style="text-align: left" ng-bind="consumerDetail.date"></td>
                                    </tr>
                                </table>
                            </div>
                    </div>

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
        <!--end page-header  -->
    </div>
    <!-- end page-content -->
</div>