<div class="main-content" style="opacity: 1.0;"
	ng-controller="MessageController">
	<div class="breadcrumbs" id="breadcrumbs">
		<script type="text/javascript"
			src="${rc.contextPath}/static/js/swallow-message.js"></script>
		<script type="text/javascript">
                try {
                    ace.settings.check('breadcrumbs', 'fixed')
                } catch (e) {
                }
            </script>

		<form class="bs-example bs-example-form" role="form">
			<div class="input-group">

				<span class="input-group-addon">Topic名称</span> <input type="text"
					class="form-control" placeholder="请先输入Topic 名称"
					style="width: 200px" id="topicname" ng-model='tname' required>
				<ul class="typeahead dropdown-menu"
					style="top: 28px; left: 0px; display: none;">
				</ul>

				<span class="input-group-addon" style="opacity: 0;"></span> <input
					type="checkbox" id="checktime" ng-click="showTimeInput()" /> 产生时间查询
				<input type="text" placeholder="开始时间..." style="width: 150px"
					id="starttime" class="swallow-datetime" disabled> <input
					type="text" placeholder="结束时间..." style="width: 150px"
					id="stoptime" class="swallow-datetime" disabled>
				<button type="submit" class="btn btn-success btn-swallow-ok"
					id="summittime" disabled ng-click="queryByTime()">提交</button>
			</div>
		</form>


		<!-- #nav-search -->
		<div class="nav-search" id="nav-search">
			<form class="form-search">
				<span class="input-icon"> <input type="text"
					placeholder="根据MessageId查找 ..." style="width: 205px"
					class="nav-search-input" name="a" id="searchmid" autocomplete="off"
					ng-model="messageId" ng-keyup="myKeyup($event)">
					<ul class="typeahead dropdown-menu"
						style="top: 28px; left: 0px; display: none;">
					</ul> <i class="icon-search nav-search-icon"></i>
				</span>
			</form>
		</div>
		<!-- end  breadcrumbs-->
	</div>

	<!-- page-content -->
	<div class="page-content">
		<!--page-header  -->
		<div class="page-header">

			<!--row  -->
			<div class="row">
				<table
					class="table table-bordered table-striped table-condensed  table-hover">
					<tr>
						<th style="text-align: left">序号</th>
						<th style="text-align: left">消息ID</th>
						<th style="text-align: left">消息内容</th>
						<th style="text-align: left">保存时间</th>
						<th style="text-align: left">产生时间</th>
						<th style="text-align: left">源IP</th>
						<th style="text-align: left">版本</th>
						<th style="text-align: left">内部属性</th>
						<th style="text-align: left">属性</th>
						<th style="text-align: left">类型</th>
					</tr>
					<tr ng-repeat="m in searchPaginator.currentPageItems">
						<td style="text-align: left">{{$index+1}}</td>
						<td style="text-align: left">{{m.mid}}</td>
						<td style="text-align: left"><a ng-click="searchPaginator.formatres(m.c)" class="edit-config-btn"
							style="cursor: pointer;">{{searchPaginator.currentPartialCon[$index]}}</a></td>
						<td style="text-align: left">{{m.ststring}}</td>
						<td style="text-align: left">{{m.gtstring}}</td>
						<td style="text-align: left">{{m.si}}</td>
						<td style="text-align: left">{{m.v}}</td>
						<td style="text-align: left">{{m.ip}}</td>
						<td style="text-align: left">{{m.p}}</td>
						<td style="text-align: left">{{m.t}}</td>
				</table>

				<ul style="margin-top: 20px;" class="pagination">
					<li><a href="" ng-click="searchPaginator.fetch(1)">首页</a></li>
					<li><a href="" ng-click="searchPaginator.previous()"
						ng-show="searchPaginator.hasPrevious()">&lt;&lt; 上一页</a></li>
					<li ng-repeat="p in searchPaginator.pages"><a href=""
						ng-click="searchPaginator.fetch(p)">{{p}}</a></li>
					<li class="disabled"><a href="javascript:;">...</a></li>
					<li><a href="" ng-click="searchPaginator.next()"
						ng-show="searchPaginator.hasNext()">下一页</a></li>
					<li><a href=""
						ng-click="searchPaginator.fetch(searchPaginator.endPage)">末页</a></li>
					<li><a href=""
						ng-click="searchPaginator.fetch(searchPaginator.endPage)"
						ng-show="searchPaginator.pages.length">{{searchPaginator.totalpieces}}条</a></li>
				</ul>
			</div>
		</div>
		<!--end page-header  -->
	</div>
	<!-- end page-content -->
</div>