<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="30" packages="com.dianping.swallow.common.internal.util.log">

    <Appenders>
        <CatAppender name="catAppender"/>

        <RollingRandomAccessFile name="fileAppender" immediateFlush="false"
                     fileName="/data/applogs/swallow/swallow-consumerserver-${sys:master.or.slave}.log"
                     filePattern="/data/applogs/swallow/swallow-consumerserver-${sys:master.or.slave}.log.%d{yyyy-MM-dd}.gz">
        <PatternLayout pattern="[%d{ISO8601}][%p][%t][%c{1}] %m%n"/>
        <TimeBasedTriggeringPolicy interval="1"
                                   modulate="true"/>
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="ackFileAppender" immediateFlush="false"
                     fileName="/data/applogs/swallow/swallow-consumerserver-${sys:master.or.slave}-consumerworker.log"
                     filePattern="/data/applogs/swallow/swallow-consumerserver-${sys:master.or.slave}-consumerworker.log.%d{yyyy-MM-dd}.gz">
            <PatternLayout pattern="%d{ddHHmmss},%m%n"/>
            <TimeBasedTriggeringPolicy interval="1"
                                       modulate="true"/>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <Logger name="ackLogger" level="INFO" additivity="false">
            <AppenderRef ref="ackFileAppender" />
        </Logger>
        <Logger name="io.netty" level="WARN" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="fileAppender"/>
            <AppenderRef ref="catAppender"/>
        </Root>
    </Loggers>
</Configuration>
