<div class="navbar navbar-default navbar-fixed-top" id="navbar">
	<script type="text/javascript">
		try {
			ace.settings.check('navbar', 'fixed')
		} catch (e) {
		}
		
	</script>

	<div class="navbar-container" id="navbar-container">
		<div class="navbar-header pull-left">
			<a href="" class="navbar-brand"> <small> <i
					class="icon-gift"></i> Swallow管理中心
			</small>
			</a>
			
			<a href="${rc.contextPath}/console/topic" class="navbar-brand">
				<button
					class="btn btn-info  btn-xs swallow-nav-btn">
					<i class="icon-globe align-top bigger-125 icon-on-right"></i> Topic管理
				</button>
			</a> 
			
			<a href="${rc.contextPath}/console/message" class="navbar-brand">
				<button
					class="btn  btn-info btn-xs swallow-nav-btn">
					<i class="icon-cloud  align-top bigger-125 icon-on-right"></i> Message管理
				</button>
			<a href="${rc.contextPath}/console/monitor/consumer/total/delay" 
				class="navbar-brand">
				
				<button class="btn  #if(${menu}=='monitor')btn-purple #else btn-info#end btn-xs">
					<i class="icon-cloud-upload align-top bigger-125 icon-on-right"></i>
					监控
				</button>
			</a>
		</div>

		<div class="navbar-header pull-right" role="navigation">
			<a href="${rc.contextPath}/help/help.html" 
				class="navbar-brand">
				<button class="btn btn-info btn-xs">
					<i class="icon-ambulance align-top bigger-125 icon-on-right"></i>
					帮助
				</button>
			</a> 
		</div>
		<!-- /.navbar-header -->
	</div>
	<!-- /.container -->
</div>
