<div class="navbar navbar-default navbar-fixed-top" id="navbar">
	<script type="text/javascript">
		try {
			ace.settings.check('navbar', 'fixed')
		} catch (e) {
		}
	</script>

	<div class="navbar-container" id="navbar-container">
		<div class="navbar-header pull-left">
			<a href="" class="navbar-brand"> <small> <i
					class="icon-gift"></i> Swallow管理中心
			</small>
			</a> <a href="${rc.contextPath}/console/topic" class="navbar-brand">
				<button class="btn btn-info  btn-xs swallow-nav-btn">
					<i class="icon-globe align-top bigger-125 icon-on-right"></i>
					Topic管理
				</button>
			</a> <a href="${rc.contextPath}/console/message" class="navbar-brand">
				<button class="btn  btn-info btn-xs swallow-nav-btn">
					<i class="icon-cloud  align-top bigger-125 icon-on-right"></i>
					Message管理
				</button>
			</a> <a href="${rc.contextPath}/console/monitor/consumer/total/delay"
				class="navbar-brand">
				<button
					class="btn  #if(${menu}=='monitor')btn-purple #else btn-info#end btn-xs">
					<i class="icon-cloud-upload align-top bigger-125 icon-on-right"></i>
					监控
				</button>
			</a> <a href="${rc.contextPath}/console/administrator"
				class="navbar-brand">
				<button class="btn  btn-info btn-xs swallow-nav-btn"
					id="navbar-admin" style="display: none;">
					<i class="icon-lock align-top bigger-125 icon-on-right"></i> 管理员
				</button>
			</a>
		</div>

		<div class="navbar-header pull-right" role="navigation"
			style="opacity: 1.0;">
			<!-- 			<a href="${rc.contextPath}/help/help.html" 
				class="navbar-brand">
				<button class="btn btn-info btn-xs" id="user">
					 <i class="icon-ambulance align-top bigger-125 icon-on-right"></i>
					帮助
				</button>
			</a>  -->
			<ul class="nav nav-pills" style="margin-top: 4px">
				<li><a href="${rc.contextPath}/help/help.html"
					style="background: white">帮助</a></li>
				<!-- 				<li><a
					href="https://sso.51ping.com/login?TARGET=http%3A%2F%2F192.168.78.29%3A8080%2F"
					style="background: white" ng-show="login">登录</a></li> -->
				<li class="dropdown all-camera-dropdown"><a ng-show="logout"
					class="dropdown-toggle" data-toggle="dropdown" href="#"
					style="background: white" ng-bind="username"><b class="caret"></b>
				</a>
					<ul class="dropdown-menu">
						<li><a ng-href="https://sso.51ping.com/{{logouturl}}">登出</a></li>
					</ul></li>
			</ul>

		</div>


		<!-- /.navbar-header -->
	</div>
	<!-- /.container -->
</div>
