<div class="navbar navbar-default navbar-fixed-top" id="navbar">
	<script type="text/javascript">
		try {
			ace.settings.check('navbar', 'fixed')
		} catch (e) {
		}
	</script>

	<div class="navbar-container" id="navbar-container">
		<div class="navbar-header pull-left">
			<a href="#" class="navbar-brand"> <small> <i
					class="icon-leaf"></i> swallow管理中心
			</small>
			</a>
		</div>

		<div class="navbar-header pull-left" role="navigation">
			<a href="${contextPath}/console/monitor/consumer/all/delay" 
				class="navbar-brand">
				
				<button class="btn  #if(${menu}=='monitor')btn-purple #else btn-info#end btn-xs">
					<i class="icon-cloud-upload align-top bigger-125 icon-on-right"></i>
					监控
				</button>
			</a>
		</div> 
		<div class="navbar-header pull-right" role="navigation">
			<a href="${contextPath}/console/help" 
				class="navbar-brand">
				<button class="btn btn-info btn-xs">
					<i class="icon-ambulance align-top bigger-125 icon-on-right"></i>
					帮助
				</button>
			</a> 
		</div>
		<!-- /.navbar-header -->
	</div>
	<!-- /.container -->
</div>