<div class="main-content main-content-local" ng-controller="IpInfoController">
	<div class="report">
		<div class="breadcrumbs" id="breadcrumbs">F
			<script type="text/javascript"
				src="${rc.contextPath}/static/js/swallow-ipinfo.js"></script>
			<ul class="breadcrumb">
				<li class="active">ConsumerIp配置信息</li>
			</ul>

			<ul class="breadcrumb">
				<li class="active">topic:&nbsp;&nbsp;${topic}</li>
			</ul>
			<ul class="breadcrumb">
				<li class="active">ConsumerId:&nbsp;&nbsp;${cid}</li>
			</ul>
			<!-- end  breadcrumbs-->
		</div>

		<div class="breadcrumbs" id="cidipinfo" style="display: none;">
			<script type="text/javascript">
				try {
					ace.settings.check('breadcrumbs', 'fixed')
				} catch (e) {
				}
			</script>
		</div>

		<!-- page-content -->
		<div class="page-content">
			<div>
				#foreach($entry in $entity)
				<div class="row row-detail">
					<div class="col-md-12">
						<label class="col-sm-5 row-detail-label" for="form-field-1">
							IP: </label> <label class="col-sm-7" style="text-align: left;"
							for="form-field-1"><a href="/console/ip?ip=${entry.ip}">${entry.ip}</a> </label>
					</div>
					<div class="col-md-12">
						<label class="col-sm-5 row-detail-label" for="form-field-1">
							告警: </label> <label class="col-sm-7 inline" style="text-align: left;"
							for="form-field-1"> <small class="muted smaller-90"></small>
							<input id="alarm${velocityCount}" type="checkbox" #if(${entry.alarm}) checked #else #end
							 ng-click="changealarm('${topic}', '${cid}', '${entry.ip}', 'alarm', ${velocityCount})"
							class="ace ace-switch ace-switch-5" /><span class="lbl middle"></span>
						</label>
					</div>
					<div class="col-md-12">
						<label class="col-sm-5 row-detail-label" for="form-field-1">
							有效: </label> <label class="col-sm-7 inline" style="text-align: left;"
							for="form-field-1"> <small class="muted smaller-90"></small>
							<input id="active${velocityCount}" type="checkbox"
							#if(${entry.active}) checked #else #end
							ng-click="changealarm('${topic}', '${cid}', '${entry.ip}', 'active', ${velocityCount})"
							class="ace ace-switch ace-switch-5" /><span
							class="lbl middle"></span>
						</label>
					</div>
				</div>
				#end
			</div>

			<!--end page-header  -->
		</div>
		<!-- end page-content -->
	</div>
</div>