[mongo]
#指定从何处获取Mongo数据，以";"相隔，Mongo集群以","相隔
mongoUri=10.1.6.87:27018

[domain]
#指定需要监控的Consumer在Cat中的Domain，以";"相隔
consumerAccept=

#指定下线项目的Producer在Cat中的Domain，以";"相隔
producerReject=

[mail]
#指定邮件接收者，以";"相隔
mailReceiver=tong.song@dianping.com;qing.gu@dianping.com;kezhu.wu@dianping.com

[sms]
#指定短信接收者，以";"相隔
smsReceiver=18721960052;13661724530;15921096896

[sms-ignore]
#指定不统计入短信内的TopicName，以";"相隔。每个Topicname只允许出现一次，每个TopicName后面可以跟多个consumerID，用逗号隔开
topicNames=SwallowExampleTopic;com_dianping_third_feed,consumerID;dp_action,usercash_consumer,mirror_consumer,usercash_test,usercash_consumer_test;picture_resource_delete,mirror_consumer

[consumer]
#指定不统计入短信内的TopicName，以";"相隔
consumerServersIp=10.1.7.29

[alarm]
#消息消费延时，超过该延时则邮件中标红，单位：min
mailDelay=1

#生产消息失败次数上限
smsProduceFailed=100

#消息存入Mongo失败上限
smsMongoFailed=100

#异步Producer Filequeue堆积总数上限
smsCumulateAsync=1000

#生产消费堆积总数上限
smsCumulateSum=1000

#生产消费延时总数上限，单位：min
smsDelaySum=120

[log]
#mongo.log文件位置
logfile=monitor.log

